
@{
    ViewData["Title"] = "Form";
    Layout = "~/Areas/Admin/Views/Shared/_FormLayout.cshtml";
    @model SysLinkItem;
}

<form class="layui-form">
    @if (string.IsNullOrEmpty(Model.SysLinkItemId))
    {
        <input type="hidden" id="SysLinkItemId" name="SysLinkItemId"
               autocomplete="off" class="layui-input" value="@Model.SysLinkItemId">
    }
    else
    {
        <div class="layui-form-item">
            <label for="SysLinkItemId" class="layui-form-label">
                <span class="we-red">*</span>链接Id
            </label>
            <div class="layui-input-block">
                <input type="text" readonly id="SysLinkItemId" name="SysLinkItemId"
                       autocomplete="off" class="layui-input" value="@Model.SysLinkItemId">
            </div>
        </div>
    }
    <div class="layui-form-item">
        <label for="SysCmsColumnId" class="layui-form-label">
            链接类型
        </label>
        <div class="layui-input-inline">
            <select id="SysLinkTypeId" name="SysLinkTypeId" class="layui-select">
                <option value="">全部</option>
                @foreach (var item in ViewBag.SysLinkTypeParentSelect)
                {
                    if (Model.SysLinkTypeId == item.Key || ViewBag.SysLinkTypeId == item.Key)
                    {
                        <option selected value="@item.Key">@item.Value</option>
                    }
                    else
                    {
                        <option value="@item.Key">@item.Value</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label for="SysLinkItemName" class="layui-form-label">
            <span class="we-red">*</span>链接名称
        </label>
        <div class="layui-input-inline">
            <input type="text" id="SysLinkName" name="SysLinkName" required="" value="@Model.SysLinkName" lay-verify="required"
                   autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">
            <span class="we-red">*</span>请填写链接名称
        </div>
    </div>
    <div class="layui-form-item">
        <label for="SysLinkUrl" class="layui-form-label">
            链接地址
        </label>
        <div class="layui-input-inline">
            <input type="text" id="SysLinkUrl" name="SysLinkUrl" value="@Model.SysLinkUrl"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label for="Group" class="layui-form-label">
            链接分组
        </label>
        <div class="layui-input-inline">
            <input type="text" id="SysLinkGroup" name="SysLinkGroup" value="@Model.SysLinkGroup"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label for="SysLinkItemLogo" class="layui-form-label">
            链接Logo
        </label>
        <div class="layui-input-inline">
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="uploadBtn">上传图片</button>
                <div class="layui-upload-list">
                    <img class="layui-upload-img layui-input-inline" src="@Model.SysLinkImg" id="uploadImg">
                    <p id="uploadTxt"></p>
                </div>
            </div>
            <input type="text" id="SysLinkImg" name="SysLinkImg" value="@Model.SysLinkImg"
                   autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label for="Sort" class="layui-form-label">
            排序
        </label>
        <div class="layui-input-inline">
            <input type="text" id="Sort" name="Sort" value="@Model.Sort"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label for="Remark" class="layui-form-label">
            备注
        </label>
        <div class="layui-input-inline">
            <input type="text" id="Remark" name="Remark" value="@Model.Remark"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><span class="we-red">*</span>状态</label>
        <div class="layui-input-block">
            <input type="checkbox" name="Status" lay-skin="primary" title="启用" value="1" @Html.Raw(Model.Status == 1 ? "checked" : "")>
        </div>
    </div>
    <div class="layui-form-item">
        <label for="L_repass" class="layui-form-label"></label>
        <button class="layui-btn" lay-filter="add" lay-submit="">@Html.Raw(ViewBag.isCreate ? "添加" : "更新")</button>
    </div>
</form>
@section Scripts{
    <script type="text/javascript">
        _ContralPath = "/Admin/SysLinkItem/";
        layui.use(['form', 'layer', 'admin','jquery'], function () {
            var form = layui.form,
                admin = layui.admin,
                layer = layui.layer,
                $  =layui.jquery;
            form.render();
            //自定义验证规则
            form.verify({

            });

            //监听提交
            form.on('submit(add)', function (data) {
                //发异步，把数据提交给后台
                $.post(_ContralPath + _SavePath, data.field, function (res) {
                    if (res.success) {
                        layer.confirm('操作成功，是否关闭当前窗口?', function () {
                            parent.reloadData();//刷新数据
                            parent.colseForm(window.name);//关闭窗口
                        });
                    } else {
                        layer.msg("操作失败," + res.msg);
                    }
                }, "json");

                return false;
            });

            //上传初始化
            uploadImageInit("uploadBtn", "uploadImg", "SysLinkImg", "uploadTxt");
        });
    </script>
}

